footer.footer {
  background-color: #000;
  padding-top: 49px;
  padding-bottom: 50px;
  .logos {
    margin-top: 17px;
  }
  .connect {
    img {
      height: 16px;
    }
  }
  .footer__bottom {
    margin-top: 30px;
  }
}
