.navbar.custom-navbar {
  // padding-left: 150px;
  @include respond('desktop') {
    position: relative;
  }
  a.navbar-brand {
    margin-right: 0;
    img {
      width: 40px;
    }
  }
  .input-group {
    width: 65%;
    /* Rectangle 5: */
    //background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    @include respond('desktop') {
      position: relative;
      left: -1px;
    }
    .input-group-append {
      border-radius: 1px;
    }
  }
  button.navbar-toggler {
    padding: 0 !important;
    // span.navbar-toggler-icon {
    //   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    // }
  }
}
.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler:focus {
  outline: none;
  background: transparent !important;
}

.navbar-toggler .icon-bar {
  background-color: #000;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all 0.2s;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.icon-bar:nth-child(2) {
  width: 16px;
  transition: ease all 0.2s;
}

.navbar-toggler:hover > .icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all 0.2s;
}

.navbar-toggler:active > .icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all 0.2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
  transition: ease all 0.2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all 0.2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
  transition: ease all 0.2s;
}
