.popular-products {
  margin: 0 25px 30px;
  @include respond('desktop') {
    margin: 0 0 30px;
  }
  &__text {
    background-color: #252525;
    padding: 38px 32px 38px 38px;
  }
  &__product {
    border-bottom: 1px solid #dcdcdc;
    padding: 19px 0;
    @include respond('tab-port') {
      border-right: 1px solid #dcdcdc;
      border-bottom: none;
      padding: 0;
    }
  }
  [class^='col-'] {
    padding: 0;
  }
}
