// -----------Types of Headings-------------
.heading-tertiary {
  font-family: $terciary-font;
  text-transform: uppercase;
  font-size: 36px;
  margin-top: 65px;
}

// -----------Top Container-------------
.top {
  a {
    font: 700 12px $secondary-font;
    color: #fff;
  }
}
// -----------Header Container-------------
.input-group {
  #search-input {
    font: 400 13px $main-font;
    color: #5e5e5e;
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #5e5e5e;
      opacity: 0.4; /* Firefox */
    }
    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #5e5e5e;
      opacity: 0.4;
    }
  }
}

.search-container {
  .user-info {
    &__actions {
      font: 700 10px $secondary-font;
      a {
        color: #9b9b9b;
      }
    }
  }
}

.benefits-container {
  font: 400 14px $secondary-font;
}

// -----------Navbar-------------
.navbar ul.navbar-nav {
  li.nav-item {
    a {
      margin-right: 50px;
      font: 700 16px $main-font;
      text-transform: uppercase;
    }
    &.active {
      a {
        color: $main-green;
      }
    }
  }
}

// -----------Paragraph Classes-------------
.paragraph {
  font: 500 13px $main-font;
  margin-bottom: 0;
  @include respond('desktop') {
    font-size: 16px;
    margin-top: 2px;
  }
  &--grey {
    margin-top: 15px;
    font: 300 14px/2 $secondary-font;
    color: #6b6b6b;
    @include respond('tab-port') {
      font-size: 16px;
    }
  }
  &--white {
    font-size: 14px;
    margin: 28px 0;
  }
}

.p-white {
  font: 400 14px/1.5 $secondary-font;
  color: #fff;
}
.p-black {
  font: 400 14px/1.5 $secondary-font;
  color: #000;
}
// -----------Subscribe Section-------------
.subscribe-section {
  &.__input {
    font-family: $secondary-font;
    font-weight: 300;
  }
  .input-group {
    .form-control {
      font: 400 12px $main-font;
      color: #cfcfcf;
    }
  }
}

// -----------Popular Products Section-------------
.popular-products {
  &__text {
    font-family: $main-font;

    color: #fff;
    h1,
    h2 {
      font-weight: 700;
      text-transform: uppercase;
    }
    h2 {
      font-size: 18px;
    }
    h1 {
      font-size: 22px;
    }
  }
  &__product {
    a {
      text-decoration: none;
    }
    &--name,
    --brand {
      font-family: $main-font;
    }
    &--name {
      font-weight: 700;
      font-size: 16px;
      color: #000;
      margin-top: 15px;
      margin-bottom: 5px;
    }
    &--brand {
      color: #9b9b9b;
      font-size: 14px;
    }
    &--price {
      font-family: $secondary-font;
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 0;
      color: #000;
      // padding-bottom: 19px;
    }
  }
}

// -----------Brand Section-------------
.brand-section {
  &__title {
    font-family: $terciary-font;
    font-size: 23px;
    text-transform: uppercase;
  }
}
// -----------Featured Products-------------
.featured-products {
  &__product {
    h3.product--name {
      font: 700 16px $main-font;
      color: #000;
      text-transform: uppercase;
    }
    h1.product--price {
      font: 700 24px $secondary-font;
      color: #453629;
    }
  }
}

// -----------Featured Categories-------------
.featured-categories {
  .bg-green {
    h2,
    h1 {
      font-family: $main-font;
      font-weight: 700;
      color: #fff;
    }
    h1 {
      font-size: 72px;
    }
    h2 {
      font-size: 22px;
      text-transform: uppercase;
    }
  }
}

.new-products {
  h2 {
    font: 700 48px $main-font;
    color: #fff;
    text-transform: uppercase;
  }
}

.new-products--3 {
  h2 {
    font: 700 28px $main-font;
    color: #fff;
    text-transform: uppercase;
  }
}
.sights {
  h2 {
    font: 700 36px $main-font;
    color: #fff;
    text-transform: uppercase;
    span {
      font-size: 48px;
    }
  }
}
.cases {
  h2 {
    font: 700 36px $main-font;
    color: #fff;
    text-transform: uppercase;
    span {
      font-size: 48px;
    }
  }
}

// -----------Footer-------------
footer.footer {
  h1.footer--brand {
    font: 700 1.2rem $terciary-font;
    color: #fff;
    text-transform: uppercase;
  }
  p.footer--data {
    font: 400 0.7rem $secondary-font;
    color: #616161;
  }
  h3.footer--link__main {
    font: 700 15px $main-font;
    color: #fff;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      a {
        margin-top: 15px;
        font: 400 12px $secondary-font;
        color: #9b9b9b;
        text-decoration: none;
      }
    }
  }
  .footer__bottom {
    p {
      font: 400 11px $secondary-font;
      color: #9b9b9b;
      a {
        color: #9b9b9b;
        span {
          font-weight: 700;
        }
      }
    }
  }
}

// -----------Login Page-------------
.login__information {
  h1 {
    font: 700 36px $main-font;
    color: $main-green;
  }
  p {
    font: 400 15px/1.5 $secondary-font;
    color: #6b6b6b;
  }
}
