// -----------FONTS-------------
$main-font: 'Open Sans', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$terciary-font: 'Special Elite', cursive;
// -----------COLORS-------------
$top-bg: #301e0f;
$main-green: #6e9075;
$sections-bg: #f7f7f7;
$red: #a93b4b;
